./temp_uploads
/temp_uploads
/temp_plots
./temp_plots

./output
/output

/run_backend.spec
output/
temp_plots/
temp_uploads/

./output/
./temp_plots/
./temp_uploads/

build/
./build
/build

# Node dependencies
node_modules/
electron/node_modules/
# Build and dist folders
node_modules/

build/
output/
temp_plots/
temp_uploads/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE and editor settings
.vscode/
.idea/


# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Lock files (optional: keep one consistent lockfile if needed)
# package-lock.json
# yarn.lock
# pnpm-lock.yaml

# Misc
*.bak
*.tmp
*.swp

electron/bin/
electron/dist/
electron/public/run_backend.exe
electron/public/run_backend.exe/

Backend/dist/

electron/dist/
Backend/dist/
dist/
*.exe
*.asar