./temp_uploads
/temp_uploads
/temp_plots
./temp_plots

./output
/output

/run_backend.spec
output/
temp_plots/
temp_uploads/

./output/
./temp_plots/
./temp_uploads/

dist/
./dist

build/
./build
/build